* {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 1rem;
}

button {
    border: 1px solid;
    border-color: white;
    padding: 0.75rem;
}

button:disabled {
    color: #888;
    border-color: #888;
}

@media not screen, (prefers-color-scheme: light) {
    * {
        background-color: white;
        color: black;
    }

    button {
        border-color: black;
    }
}